.my-slider {
    height: 400px;
    width: 100%;
    position: relative;
}

#slider-nav-btns-ctnr {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 30px;
    width: 100%;
    top: calc(50% - 15px);
    left: 0;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    box-sizing: border-box;
}

.slide-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.my-slider-synopsis-card {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    font-size: 15px;
    transform: scale(0);
    position: absolute;
    right: -100%;
    width: calc(100% - 100px);
    bottom: 50px;
    box-shadow: 1px 1px 6px silver;
}

@keyframes card-appearence {
    0% {
        transform: scale(1);
        right: - 100%;
        opacity: 0;
    }

    90% {
        transform: scale(1);
        right: 50px;
        opacity: 0.4;
    }

    100% {
        transform: scale(1);
        right: 50px;
        opacity: 1;
    }
}